body {
	margin: 0;
}
.main {
	margin: 30px 0px;
}
.slideshow-container {
	height: 400px;
	margin: auto;
	max-width: 600px;
	position: relative;
}
.slide {
	display: none;
	height: 400px;
}
.slide img {
	max-height: 400px;
	object-fit: cover;
}

/*Slide caption*/
.caption {
	background-color: rgba(0,0,0, 0.6);
	color: #f2f2f2;
	font-size: 36px;
	padding: 10px 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 33%;
	width: 100%;
}

/*Prev & next button*/
.prev, .next {
	border-radius: 0 3px 3px 0;
	color: white;
	cursor: pointer;
	font-size: 60px;
	font-weight: bold;
	margin-top: -22px;
	padding: 16px;
	position: absolute;
	transition: 0.6s ease;
	top: 40%;
	user-select: none;
}
.next {
	border-radius: 3px 0 0 3px;
	right: 0;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/*Navigation dots*/
.navigation-container {
	bottom: 0;
	margin: 10px 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
.navigation-icon {
	background-color: #bbb;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin: 0 2px;
	transition: background-color 0.6s ease;
	width: 15px;
}
.navigation-icon:hover,
.navigation-icon.active {
	  background-color: #0f0b0ae0;
}

/*Animation*/
.animate {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-name: fade;
	animation-duration: 1.5s;
	animation-name: fade;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}